body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 90px;
}

.navbar {
    margin-bottom: 0px;
    padding: 15px 30px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.cbp-af-header {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9;
}

.navbar-inverse .navbar-nav>li>a {
    color: #bbb;
}

.navbar img {
    width: 20%;
    height: 20%;
}

footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}